{% extends 'base.html.twig' %}

{% block title %}Gestion des Projets{% endblock %}

{% block body %}
    <h1>Gestion des Projets</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button>{{ button_label|default('VALIDER') }}</button>
    {{ form_end(form) }}

{% endblock %}
